html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  height: 100vh;
}

.title {
  font-size: 8.8rem;
  position: absolute;
  z-index: 10;
  top: 10rem;
  left: 10rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

.search-container {
  width: 40rem;
  height: 6rem;
  background-color: #454e53;
  position: absolute;
  z-index: 10;
  left: 10rem;
  top: 23rem;
  border-radius: 3rem;
}

.search {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.search input {
  flex-grow: 1;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.search i {
  color: white;
  font-size: 2.5rem;
}

.stores-list-container {
  width: 40rem;
  border-radius: 3rem;
  background-color: white;
  top: 32rem;
  position: absolute;
  z-index: 10;
  left: 10rem;
  bottom: 2rem;
  display: flex;
  padding-bottom: 3rem;
}

.store-info-window{
  min-width: 30rem;
  font-size: 1.8rem;
  padding: .8rem;
}

.store-info-name {
  font-size: 2.4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, .87);
}

.store-info-open-status {
  margin-top: .6rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: .8rem;
  color: rgba(0, 0, 0, .57);
}

.store-info-address,
.store-info-phone {
  margin-top: .8rem;
  display: flex;
  align-items: center;
}

.store-info-phone a, .store-info-address {
  text-decoration: none;
  color: #514c4c;
}

.store-info-address .icon,
.store-info-phone .icon {
  width: 3rem;
  height: 3rem;
  background-color: #19b5a1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin-right: .8rem;
}

.stores-list {
  flex-grow: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: scroll;
}

.store-container {
  border-bottom: 1px solid #979797;
  display: flex;
}

.store-info-container {
  flex-grow: 1;
}

.store-number-container {
  display: flex;
  align-items: center;
}

.store-number {
  width: 3rem;
  height: 3rem;
  background-color: #454e53;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-address {
  font-size: 2.1rem;
  color: #514c4c;
  margin-top: 3rem;
}

.store-address span {
  display: block;
}

.store-phone-number {
  color: #b5adad;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.store-container-background {
  flex-grow: 1;
  display: flex;
  padding-left: .8rem;
  padding-right: .8rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  border-radius: 1.8rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.store-container-background:hover {
  background-color: #cccccc87;
}



